@using EntityLayer.Concrete
@model List<Project>


<section id="portfolio" class="portfolio section-bg">

    <div class="container">
        @foreach (var item in Model)
       {
           <div class="section-title">
            <h2>Projelerim</h2>
        </div>
       
            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">@item.Category.CategoryName</li>

                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="@item.ProjectImage" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="@item.ProjectImage" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.ProjectName"><i class="bx bx-plus"></i></a>
                            <a href="@item.ProjectUrl" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>


            </div> 
       }
       
        
    </div>

</section>
