@using EntityLayer.Concrete
@model List<About>

<section id="about" class="about">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="section-title">
                <h2>Hakkında</h2>
                <p>@item.AboutDetails1</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="@item.User.UserImageUrl" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>@item.User.jopTitle</h3>
                    <p class="fst-italic">
                        @item.AboutDetails1
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Doğum Günü:</strong> <span>@item.User.BirthDay</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website: </strong> <span>@item.User.WebSiteUrl</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Telefon No: </strong> <span>@item.User.UserPhone</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Şehir: </strong> <span>@item.User.UserCity</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>@item.User.BirthDay</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Eğitim Düzeyi:</strong> <span>@item.User.UserDegree</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>@item.User.UserMail</span></li>
                               
                            </ul>
                        </div>
                    </div>
                    <p>
                       @item.AboutDetails1
                    </p>
                </div>
            </div>
        }


    </div>
</section>
